[2015-02-26 00:40] stvnrlly opened #4 "Add a civic.json file"
A [civic.json file](http://codefordc.org/resources/specification.html) provides information about this project that's not included in the Github metadata. The full details of the format are [here](http://codefordc.org/resources/specification.html). Just put it in the root of your repo and we'll automatically display that info on the projects page.

Code for DC also has a tool to help put the file

[2015-02-27 20:41] justgrimes opened #6 "What to do about Clean Slate/Rebuilding Re-entry Hackaton project"
I'm depreciating the starter project that Code for DC worked on at the Rebuilding Re-entry Hackathon and directing people to come here instead; http://justgrimes.github.io/clean-slate

You might want to take some of the content...not much there but might be useful.

[2015-02-28 15:07] mattbailey0 commented on #6
Wait what? No don't do that.  We have a team working on this.

On Fri, Feb 27, 2015 at 3:41 PM, Justin Grimes notifications@github.com
wrote:

[2015-02-28 15:29] justgrimes commented on #6
Sorry that might have been confusing. I am saying people are working on this project (what is here) and not the other one. I'm trying to redirect people to this project; and suggest you import some of the content from the other.

[2015-02-28 15:41] justgrimes opened #7 "expungement vs sealing"
Expungement and record sealing are two very different things. You might want to be more clear which one you are talking about (e.g the app is called "expungement" but you are talking about "sealing" in the description). Is this app checking for both?

[2015-02-28 17:09] mattbailey0 commented on #7
Well, there isn't really expungement of records in DC.  Obv the app will deal with sealing and the repo name is a little inaccurate.  We should probably look at whether it makes sense to merge this work with the work you did at the hackathon - but I don't want to confuse the folks who are working on it.

[2015-03-01 15:55] mattbailey0 commented on #6
OH. I completely misread the original message.  Sorry Justin!  We should definitely pull the extra content you and Shannon put together for the original project into this one.  We might even want to more fully merge them since the original is still out front of this one in terms of looking like a thing.

[2015-03-01 17:50] stvnrlly opened #8 "More descriptive results"
Instead of "Eligible" and "Ineligible", a sentence like "You are eligible to have your conviction expunged." would be nice. If the app deals with expungement vs. sealing (as in #7), it could be expanded to "You are ineligible to have your conviction expunged, but you may be able to have your records sealed." or something like that.

[2015-03-01 17:51] stvnrlly opened #9 "Next steps"
If you are eligible to have your conviction expunged, what do you do next?

[2015-03-12 00:11] sarahfathallah commented on #8
Agreed. A short sentence explaining the reason would also be good (though more a nice to have).

[2015-03-22 15:37] rebeccawilliams commented on #7
+1 to calling it sealing

[2015-03-22 15:53] rebeccawilliams opened #11 "Review these similar projects and resource sites for inspiration:"
expungement / sealing (other locations, but example workflows):
* http://www.expungemaryland.org/
* https://lawstudents.neotalogic.com/a/expungement2-1
* http://expunge.io

dc services/summaries:
* forms: http://secure.uslegalforms.com/cgi-bin/forms/search.pl?state=DC&field=anywhere&rating=all&query=expungement&altform=&memform=&topic=
* lawyers: http://www.criminaldefenselawyer.com/path/min-path2

[2015-03-22 16:14] rebeccawilliams commented on #6
I really like the Clean Slate name and home page general layout FWIW, also espanol!

[2015-03-22 16:22] rebeccawilliams opened #12 "Add 'Why seal your criminal record?' explainer"
Beyond how, it'd be great to see why users should go through these steps.

[2015-03-22 16:24] rebeccawilliams opened #13 "Add 'What Must You Disclose After Having Your Criminal Record Sealed in D.C.?' resources/tips"
e.g. http://koehlerlaw.net/2014/05/the-effect-of-sealing-a-criminal-record-in-d-c/

[2015-03-22 17:31] rebeccawilliams opened #14 "Possible workflow to consider"
Below is cribbed heavily from: http://koehlerlaw.net/other-offenses/expungementsealing-of-criminal-records/

### Prologue: Why should I seal my criminal record?
 * Describe the benefits and the difference between expungement and sealing criminal records. Point to other state recourses too?

### **Step 1: Obtain copy of criminal record**
* Note price, time it takes to obtain, and online and offline

[2015-03-22 17:31] rebeccawilliams opened #15 "Link all code to http://dccode.org/"
:smile:

[2015-03-24 23:34] mattbailey0 opened #16 "mash up with http://justgrimes.github.io/clean-slate/"
@justgrimes's codebase is a redeployment of http://www.expunge.io/.  Look at pulling the current content/code into this and building from there.

[2015-03-25 00:20] jimwebb opened #17 "Browser support on older IE?"
This is just a wacky thought: does anyone know what version of IE the DC Public Library uses on their public computers? I'm guessing it's old IE -- and if it's older than IE9, support for angular.js might be wonky, which might impact how the development happens.

I'm new to this project, so my apologies for asking a question that I don't have an answer to. :)

[2015-03-25 00:35] brianek commented on #13
Hi Rebecca. Let me know if you want to work on this part. This language is very dense and we would love to create this as a separate instructional page or quiz (multiple choice) or video specifically dedicated to: "So, you've sealed your record, now what."

[2015-03-25 00:38] brianek commented on #9
you get your criminal record. Apply for expungement. And prep for learning how to deal with employers who ask you about a record.  That is our hope that we will be able to address these items too.

[2015-03-25 00:51] brianek commented on #11
Thanks

[2015-03-25 00:54] brianek commented on #14
We are adding new items to the to do on the readme page. And it includes a task on this epilogue section you mentioned.

[2015-03-25 01:14] brianek opened #18 "Additional to dos."
-Add in a main page. Expunge.io is a great model to use. Two important notes: 1) Make sure to add in a section about  benefits-why you should seal your record. Feel free to add dummy comment and we can insert the 3 top reasons.

[2015-03-25 04:16] mattbailey0 commented on #18
I just have a sec right now, but each bullet on this should be broken out as an individual issue! That way people can tackle them one by one.

[2015-03-25 04:19] brianek commented on #18
I just realized that. and will do so.

On Wed, Mar 25, 2015 at 12:16 AM, Matt Bailey notifications@github.com
wrote:

[2015-03-25 04:23] brianek opened #19 "Ability to translate mobile p easily to spanish"
Check http://www.expunge.io/ for example

[2015-03-25 04:24] brianek opened #20 "Quick project: add in a new disclaimer page"
-Add in a disclaimer page like this: http://www.expungemaryland.org/disclaimer

[2015-03-25 04:25] brianek opened #21 "Add new page (vertical boxes) on steps to get your arrest record. Use dummy content"
-Add in a page on getting your arrest information (like this:http://www.expungemaryland.org/step2. ). Options can easily be presented in vertical boxes as a way to improve design. Maybe the vertical goes can be clickable and lead to more information.  Don’t worry about the content, you can use dumb content.

[2015-03-25 04:26] brianek opened #22 "Comment on AngularJS code for new users and non-tech users"

[2015-03-25 04:28] brianek opened #23 "Add in definitions using jquery"
Website Sealing Definitions List
	•	Acquitted – This means that a person was found “not guilty” for the crime which he was charged.  It is the legal and formal certification of the innocence of a person who has been charged with a crime.  For example:  Mr. Smith was arrested and charged for theft.  However, Mr. Smith was found “not guilty” and acquitted of his theft charge.

	•	Actual Innocence –

[2015-03-25 16:06] stvnrlly commented on #17
This is a great point. There's information about compatibility in the [Angular docs](https://docs.angularjs.org/guide/ie):

I've asked DCPL to tell me what browsers they provide, and will get back if they tell me.

[2015-03-30 01:11] stvnrlly commented on #17
I stopped by MLK library: they have IE, Chrome, and Firefox. They couldn't guarantee that the IE will be a recent version, though.

If the project does continue to use Angular, it may be wise to include an alert for people who visit from unsupported browsers.

[2015-04-09 00:54] jmezetin opened #25 "Record Responses"
Show responses on final eligible or ineligible results page or export to a pdf.

[2015-04-09 22:12] brianek commented on #4
I created one. I just have to figure out how to add it in.

[2015-04-10 02:51] brianek commented on #6
Recommendation to close this issue.

[2015-04-15 14:35] #6 closed

[2015-04-15 14:36] brianek commented on #6
any way I can get administrative privileges to close issues. Or do I already have that?

[2015-04-28 22:39] stvnrlly commented on #4
This should be what you need: https://help.github.com/articles/creating-new-files/. I'm happy to help if that doesn't work (or make sense).

[2015-04-28 22:44] #16 closed

[2015-04-28 22:51] stvnrlly commented on #4
:+1:

[2015-04-28 22:51] #4 closed

[2015-04-30 18:07] jimwebb commented on #17
I happened by the Petworth branch today: they're running Windows 7 with IE11, Chrome 42, Firefox 26, and Safari 5. All very up-to-date, which is great.

[2015-05-12 22:11] jmezetin opened #35 "Saving Answers"
Although the back button works, allowing you to go to the previous question... it doesn't remove the question/answer from the history. So when you finish the wizard, it shows all questions visited.

[2015-05-13 21:17] cweems commented on #19
@brianek this would actually be fairly easy to do for the eligibility checker! Do you happen to have the questions in spanish?

[2015-05-13 21:21] cweems commented on #7
@justgrimes @mattbailey0 @rebeccawilliams Think I'll mark this closed as we've now re-named the project as Clean Slate.

[2015-05-13 21:21] #7 closed

[2015-05-13 21:54] brianek commented on #19
Not yet, but we are holding off on this until after the mvp is complete. We are waiting for the lawyers to say this is a feature is something they really want.

[2015-05-13 22:09] brianek opened #37 "Add Step 1 page: Instructions on how to get your criminal record"
http://mpdc.dc.gov/page/police-clearances-arrest-and-criminal-history-section

[2015-05-14 06:58] #8 closed

[2015-05-14 06:58] #17 closed

[2015-05-14 06:58] #19 closed

[2015-05-14 06:58] #22 closed

[2015-05-14 06:59] #25 closed

[2015-05-17 14:12] #35 closed

[2015-05-17 14:13] #15 closed

[2015-05-17 14:13] #18 closed

[2015-05-17 14:13] #9 closed

[2015-05-17 14:13] #11 closed

[2015-05-17 14:14] #14 closed

[2015-05-17 14:14] #12 closed

[2015-05-17 14:15] #13 closed

[2015-05-17 14:18] brianek opened #45 "Create a menu for our pathways/create a select one or select all menu"

[2015-05-17 19:55] brianek commented on #45
See page 1 and 2 of this document.

[2015-05-17 19:55] brianek commented on #37
https://docs.google.com/presentation/d/1vCgDUQFLVqBx18dExyK01PfNHnLSI6aCoobV-h2Z4X8/edit#slide=id.g31394d387_2_2

[2015-05-17 19:56] #37 closed

[2015-05-17 19:56] brianek commented on #21
http://mpdc.dc.gov/page/police-clearances-arrest-and-criminal-history-section

[2015-05-17 22:10] brianek opened #46 "Update route providers and route defintions"
Below is the current code. We need to remove legal aid completely and add in after the home page, the "how to get your criminal record" page . In addition, the wizard should take the user to the first menu of wizards.
 Route definition
myApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider
            // Homepage includes Expunge D.C. overview and link to the wizard

[2015-05-17 22:11] brianek opened #47 "Update Home.html (add new button for "how to get your criminal record""

[2015-05-25 23:19] brianek commented on #45
@cweems @jrleszcz @jmezetin . Please check the code for DC slack messages. As I have sent out information for tomorrow :-). Happy Memorial Day.

[2015-05-27 00:52] jimwebb opened #49 "Rebuild progress bar"
https://github.com/codefordc/clean-slate/pull/48 broke how the progress bar functions, in exchange for providing the functionality of allowing users to follow the five paths from the main page. (The progress bar looked at the question numbers to gauge the user's path; now the numbers are arbitrary and used to denote different sections.)

This needs to be fixed and the progress bar restored to its

[2015-05-27 01:14] jimwebb commented on #47
Done and merged! https://github.com/codefordc/clean-slate/commit/e7e190fc5a085190f7c099b69bd02f4ed097a7be

[2015-05-27 01:14] #47 closed

[2015-05-27 01:15] jimwebb commented on #45
I think this is complete: https://github.com/codefordc/clean-slate/pull/48

[2015-05-27 01:19] jrleszcz opened #50 "Back and Restart buttons inconsistent"
The back and restart buttons don't always work.  On mobile, they rarely work.

[2015-05-27 22:17] brianek commented on #49
Does anyone want to take this on? Or give me tips on how I can fix it.

[2015-05-28 02:52] ave-llan commented on #49
PR #54 fixes this!

[2015-05-28 04:31] #49 closed

[2015-06-01 11:36] jrleszcz opened #59 "Redundant HTTP Requests in EligibilityWizardController"
`EligibilityWizardController` is doing an HTTP Request for `combined-flow.json` every time the user answers a question.  This also means `executeController()` is being called each time which recalculates the tree height.

These things should only need to be done once.

[2015-06-01 11:55] brianek commented on #59
Thoughts on how this can be fixed?

[2015-06-01 12:06] ave-llan commented on #59
I think we just need to add a check to see if it has already been loaded before loading it again.  I'll work on this next chance I get (might not be until tomorrow).

This has probably been happening since Charlie fixed the 'routing' and the back button about a month ago, so it is not stopping anything from working correctly—it's just not ideal.

[2015-06-01 12:07] brianek commented on #59
okay. No rush; if thats the case then it doesn’t have to be fixed by Demo day. Whenever you can get to it is fine! :-)

[2015-06-01 16:04] brianek opened #61 "Simplify list of ineligible crimes; any suggestions on how i can turn this into a simple drop down list specifically for the person viewing the site via their mobile phone?"
clean-slate/ineligible-misdemeanors.json

[2015-06-01 16:05] brianek commented on #61
@RyanGladstone . Thoughts?

[2015-06-01 22:42] RyanGladstone commented on #61
I'm not sure I fully understand the question.

Are you interested in having all of the ineligible crimes listed in a drop down list / select?

[2015-06-01 22:44] brianek commented on #61
sorry about that. I was thinking that we no longer need a search feature. And a simple drop down (but no select option) would suffice. But then I realized that I can just remove the code that has the search box  and that should do the trick!

[2015-06-01 22:46] RyanGladstone commented on #59
I'd recommend the combined-flow data should be moved into a service that only makes an HTTP call once.

[2015-06-01 22:48] RyanGladstone commented on #46
I renamed the "legal aid" route to map to "how to get your criminal record"

[2015-06-01 22:49] RyanGladstone commented on #61
ah, ok!

[2015-06-02 00:21] brianek commented on #46
thanks!

On Mon, Jun 1, 2015 at 6:48 PM, Ryan Gladstone notifications@github.com
wrote:

[2015-06-02 02:13] #45 closed

[2015-06-02 02:13] #20 closed

[2015-06-02 02:13] #23 closed

[2015-06-02 02:14] #46 closed

[2015-06-02 02:15] brianek opened #62 "Allow for email feature."
@cweems Would you happen to have some bandwith before thursday to see if the Email responses button is possible?

[2015-06-21 03:55] DavidGinzberg commented on #50
**Inconsistent indeed.**
I just tested this on two Android (5.1.1) devices, a Nexus 5 phone and a Nexus 10 tablet, running the Chrome browser. On the tablet one tap on the navigation buttons caused the tooltip to appear, and a second tap on the same button causes the navigation behavior. On the phone there was no discernible response from tapping the navigation buttons.

Is anyone currently workin

[2015-06-21 03:59] DavidGinzberg commented on #50
Further inspection reveals there's a span inside each button (for the icons) and the click events are on the spans, not the buttons. This is potentially causing the mobile issues and also causes the buttons not to respond if clicked inside the button but outside of the span (tested on Chrome 43.0.2357.124 m running on Windows 8.1)

[2015-06-21 11:55] brianek commented on #50
So how to fix this? @jrleszcz @DavidGinzberg

[2015-06-22 05:34] DavidGinzberg commented on #50
@brianek @jrleszcz I just submitted Pull Request #64. Should fix both issues discussed here. Ping me on slack if you have questions tomorrow.

[2015-06-22 12:10] #50 closed

[2015-06-23 04:17] DavidGinzberg commented on #61
@brianek did that work? or do we need to look into this further?

[2015-06-23 04:24] DavidGinzberg opened #65 "Ineligible page instructions need a language update"
It looks like the names and/or appearances of the buttons have changed since the text for the ineligible page messages was written. As shown on [this page](http://codefordc.github.io/clean-slate/#/eligibility-check/q/legalAid) the text says `Please hit the "start over" button...` but that buttons seems to have been changed to an icon with a tooltip reading `Restart` instead. This may be confusing

[2015-06-23 11:57] brianek commented on #65
Thanks we can try to get someone on this tonight

On Tue, Jun 23, 2015 at 12:24 AM, David Ginzberg notifications@github.com
wrote:

[2015-06-23 11:58] brianek commented on #61
I didn't upload it so we can have someone work on this tonight.

On Tue, Jun 23, 2015 at 12:17 AM, David Ginzberg notifications@github.com
wrote:

[2015-06-23 18:55] brianek commented on #65
@jrleszcz Would you want to work on this?

[2015-06-23 20:55] ave-llan commented on #65
Yeah, I can work on this, though it could also be a good challenge for someone who wants to contribute without needing tech skills because you just have to edit the JSON.

I was also thinking that many of these pages could be eliminated altogether by removing redundant questions.  For example, after selecting an option on this page, the question on the next page asks exactly the same thing:
![scre

[2015-06-23 21:08] brianek commented on #65
@jrleszcz You right. Yes we can remove it. And yes we can have someone else (likely me) edit the JSON. Is there something else you want to work on? Or do you want me to wait until there is a big technical change? We are considering a web scraping project. Might you be interested in that? Also, @cweems is working on getting an "email" function that will sit right next to the "print" function. would

[2015-06-24 02:43] brianek opened #70 "I broke the site-"
if anyone can figure out how to fix it, let me know.

[2015-06-24 02:44] brianek commented on #70
I made lots of changes

[2015-06-24 11:22] ave-llan commented on #70
@brianek PR #71 fixes the things that were causing problems in the json.  I didn't change any other files.

[2015-06-24 11:45] brianek commented on #70
Thanks!!!!

On Wednesday, June 24, 2015, John Leszczynski notifications@github.com
wrote:

[2015-06-24 19:27] DavidGinzberg commented on #70
Seems like this is fixed now. If so, can we close this issue?

[2015-06-24 19:44] DavidGinzberg opened #72 "Clicking back nav button on first question causes JS error"
From the [first question](http://codefordc.github.io/clean-slate/#/eligibility-check/q/0) ("Do you have access to your complete criminal record right now?"), clicking the `Back` nav button causes the following error to occur twice in the javascript console:
[code]

This doesn't seem to directly impact the user (the page momentarily redirects to `~/#/eligibilty-check/q/undefined` and then back to `

[2015-06-24 20:51] #70 closed

[2015-06-25 22:11] ave-llan commented on #65
PR #73 indirectly fixes this issue because the 'ineligible page' no longer exists.

[2015-06-25 22:12] ave-llan commented on #72
I believe this is related to #59 and won't happen once we fix that issue.

[2015-06-26 02:05] #65 closed

[2015-06-26 02:05] brianek commented on #72
should I close this issue?

[2015-06-26 03:38] DavidGinzberg commented on #72
I'd suggest labeling it as a duplicate and closing it once #59 is fixed (assuming that does fix this). That way it doesn't have to be re-opened if for some reason it isn't resolved.

[2015-07-09 01:06] DavidGinzberg opened #82 "'Acquire record in person' link is broken"
Currently this link just goes to the home page.

[2015-07-09 18:47] #21 closed

[2015-07-09 18:47] #61 closed

[2015-07-09 18:48] #72 closed

[2015-07-09 18:57] brianek commented on #82
I

[2015-07-09 18:57] brianek opened #84 "Revise Nonconviciton/conviction button. Break it into two and make sure corresponding code is also changed"
On the first page you could say,

1)    I have an arrest or charge that resulted in a non-conviction that I would like to seal that does not fit into any of the categories above

2)    I have a conviction that I would like to seal that does not fit into any of the categories above

Then you have to ask if a case is pending. After that it is broken down to felony conviction, misdemeanor conviction

[2015-07-09 18:59] brianek opened #85 "Simplify our definitions. Many words on the site are not defined simply."
Anyone willing to Add in popup legal glossary using this: http://openadvocate.org/readclearly/? ReadClearly identifies complex legal terms on your website and displays a plain language explanation.

[2015-07-09 19:01] brianek opened #86 "Format definitions page using div span instead of <b>"
Format definitions page using the updated definitions in our google doc.https://docs.google.com/document/d/1l1rHyNBNWJMTmBt07U-nhSCzMQNtKSZGve924pvrqIw/edit

[2015-07-09 19:08] brianek opened #87 "whether or not we can move the json file into a spreadsheet so that it will be easier for the legal partner to edit and update questions."
@John Leszczynski

[2015-07-09 19:09] brianek commented on #87
@jrleszcz

[2015-07-09 19:12] brianek opened #88 "Mobile Friendliness issue: buttons hanging off page."

[2015-07-09 19:14] brianek opened #89 "Mobile Friendliness issue: Change are back button from a symbol to text!"
Teh tooltip feature does not work on a mobile phone. we want our mobile users to be able to understand how to go back and thus want to be explicit about the back button.

[2015-07-10 00:51] DavidGinzberg commented on #82
Looks like I goofed; this still isn't working right. Planning to fix this tonight but reopening for now in case I forget.

[2015-07-10 04:27] #82 closed

[2015-07-13 17:51] #89 closed

[2015-07-13 17:55] brianek opened #92 "Incorporate analytics into our github site"
We can either use google analytics or some other analytics site: https://bitdeli.com/

[2015-07-13 18:00] #88 closed

[2015-07-14 18:05] ParentJA commented on #86
I completed this styling change, however, there are some terms that still need definitions.

[2015-07-14 18:07] brianek commented on #86
Yeah, do you want to send me the file. Or I can send you the terms?

[2015-07-14 18:18] DavidGinzberg commented on #92
What kind of analytics are we looking for? What information do we want to gather and why?

[2015-07-14 18:24] brianek commented on #92
Ideally the following:
What did they search to get there
what site did they come from before they got our site
unique visitors
how many visits each page (i.e. definitions page vs.“how to get your criminal record”  page)
How many click the button  (i.e. to search for their criminal record online Or  the print button)
How many users are visiting which routes (incorrect ID vs.  fugitive arrests vs. c

[2015-07-14 18:43] DavidGinzberg opened #94 "Disable navbar collapse behavior on full-sized screens"
When viewing the site on desktop or full-sized screens, clicking the navbar causes a horizontal scroll bar to appear and slide up or down. Looking at the DOM, this seems to be a bootstrap navbar-collapse behavior, which we have on mobile. When the navbar doesn't collapse it just looks strange and detracts from the overall quality of the site so we should find a way to prevent it when it's not nece

[2015-07-14 18:44] brianek commented on #94
@ParentJA  Thoughts?

[2015-07-14 18:46] ParentJA commented on #94
I'll take a look.

On Tue, Jul 14, 2015 at 2:44 PM brianek notifications@github.com wrote:

[2015-07-14 18:46] brianek commented on #94
Thanks!!!!

[2015-07-14 20:09] brianek opened #96 "Configure our domain name to route to the github pages site so that users can find us easily."
We haven't bought the domain yet. If you are interested working on this, let me know!

[2015-07-14 20:33] stvnrlly commented on #96
Here's what is necessary: https://help.github.com/articles/adding-a-cname-file-to-your-repository/.

In this case, that would mean:
1. Create a `CNAME` file in the repo root with the contents `cleanslate.com`.
2. Add DNS entries for the new domain (through the registrar's website, not GitHub). Create two `CNAME` records, one for `@` and one for `www`, both pointing at `codefordc.github.io`.

The G

[2015-07-15 16:06] DavidGinzberg commented on #96
@brianek If you like I can take care of this or walk someone through it. I've done this sort of thing for github sites before (see my [Israel blog repo](https://github.com/DavidGinzberg/IsraelFellow) for an example)

By the way which domain do we want? I just looked and [cleanslate.com and .org are taken, and the .net is very expensive](http://who.is/whois/cleanslate.com) but cleanslatedc.com (as

[2015-07-15 16:40] brianek commented on #96
@DavidGinzberg yes if you could take care of it that would be great. Just an fyi that stvrlly would then like us to change it to https and he is willing to advise on that. I think cleanslatedc.com will work just fine. Let me just countact our legal partner and confirm! She should respond soon!

[2015-07-15 18:34] brianek commented on #96
@DavidGinzberg yup we can move forward with cleanslatedc.org!!!

[2015-07-16 14:14] jmezetin commented on #84
I created a pull request to solve this issue.

[2015-07-16 14:33] brianek commented on #84
thanks!

On Thu, Jul 16, 2015 at 10:14 AM, jmezetin notifications@github.com wrote:

[2015-07-17 00:30] DavidGinzberg commented on #96
All set. The site is now visible at cleanslatedc.com thanks to the hard work of @brianek -- and HTTPS is >90% there

[2015-07-17 00:30] #96 closed

[2015-07-17 23:12] #84 closed

[2015-07-20 14:53] brianek commented on #92
Some helpful sites/videos: https://www.youtube.com/watch?v=lyOnxr2Zsks: use enhanced attribution links. Google tag manager.

[2015-07-20 14:56] stvnrlly commented on #92
IP anonymization is a good idea if you're sending the data through Google: https://developers.google.com/analytics/devguides/collection/analyticsjs/advanced#anonymizeip

[2015-07-20 14:59] brianek commented on #92
Basic analytics tracking: http://stackoverflow.com/questions/17207458/how-to-add-google-analytics-tracking-id-to-github-pages

[2015-07-23 03:24] cweems commented on #85
@brianek think I've added this correctly in PR #100 ! You might want to pull down and take a look to confirm. Read Clearly doesn't play well with AngularJS so this took a bit of adapting.

[2015-07-30 21:18] DavidGinzberg commented on #85
Looks like it doesn't work with https right now; getting mixed content warnings on Chrome and Firefox. Could be a pretty quick fix so I'll see if I can post a patch now.

[2015-07-30 21:22] brianek commented on #85
we've been actually looking at the glossary and it actually doesn't include
most legal definitions. So i was wondering would you be willing to use like
a jquery plug-in to have a pop-up definition feature? Or like a drop down
definition box (for example, if we  could put a question mark icon next to
legal words, and the defintion could drop down if the user clicks on the
question mark).

On Thu, J

[2015-07-30 22:35] stvnrlly commented on #85
@DavidGinzberg it looks like the script is also available over https, so it should be as simple as changing the link to https.

[2015-07-30 23:13] #59 closed

[2015-07-31 00:01] brianek commented on #85
@cweems

[2015-07-31 00:02] #86 closed

[2015-07-31 00:10] brianek opened #106 "Add an internalization feature so that site can be used in espanol."
Step 1: Create a banner/button  four our site that reads "espanol" that is show on the first 3 pages of the site.
Step 2: Fork the cleanslate site and host on your github pages. We will then use the link of your github pages to be used as the link references as "espanol".

[2015-07-31 00:18] RyanGladstone commented on #85
Submitted a pull request that makes the script call protocol agnostic.

Whether OpenAdvocate is the best long term solution remains an open question.

[2015-07-31 00:19] brianek opened #107 "Imrpove user experience of site. Front end design. Estimated work time: 1 hour or less."
Our site has a few differnt users: Lawyers/Law students, returning citizens (those with criminal or arrest records) and other (case managers, family members etc).

We want to be ask at the beginning of the site  who that person is. For example, it could be 3 buttons and we ask the user to click which one they are. I..e  Option 1: lawyer/law sudent 2) returning citizen/formerly incarcerated, 3) cas

[2015-07-31 01:19] DavidGinzberg commented on #106
@brianek Is there a particular reason we are looking at doing this on a separate repo rather than just adding an internationalization feature?

[2015-07-31 01:45] DavidGinzberg commented on #85
@stvnrlly @RyanGladstone looks like you guys took care of it while I was wrestling with SSL on localhost. :+1: :confounded:

@brianek I'm looking over the readclearly code and documentation to see if we can just inject our own glossary, or if we need to do something from scratch. currently I don't like the highlight color; it makes the text illegible

[2015-07-31 03:24] brianek commented on #106
No reason. Whatevery works.

On Thursday, July 30, 2015, David Ginzberg notifications@github.com wrote:

[2015-07-31 03:51] brianek commented on #106
@davidginzberg

[2015-07-31 03:52] #92 closed

[2015-07-31 03:52] brianek commented on #85
OK great @davidginzberg

[2015-07-31 20:07] brianek commented on #107
Welcome Page
Mobile
Lots of wasted space in hamburger, font is small . Can disclaimer be shrunk/condensed, like a Wikipedia sub page?
Can disclaimer be shrunk/condensed, like a Wikipedia sub page?
Text looks overwhelming, any bolding or formatting to break it up? linking out to affiliated organizations/contact (PDSDC) and menu options
Bold button?
include disclaimer in hamburger
Shorten up languag

[2015-07-31 20:09] brianek commented on #107
Change intial menu page that expands when clicked on:
1) Incorrect criminal record
2) Seal non-conviction
3) seal conviction
4) arrest & warrant in another jurisdiction
5) seal arrest -no conviction
6) Marijuana

[2015-08-07 17:38] brianek commented on #107
Resources:
http://jsfiddle.net/8MXAu/
http://blog.templatemonster.com/2014/06/27/click-to-expand-paragraph-text-with-jquery/
http://designgala.com/how-to-expand-collapse-toggle-div-layer-using-jquery/

[2015-08-07 17:43] brianek commented on #107
Accordion javascript: http://www.elated.com/articles/javascript-accordion/

[2015-08-07 20:49] brianek commented on #85
@DavidGinzberg. Readclearly responded to me to say" ReadClearly installed on an OpenAdvocate website does include two themes, default and neutral (see attached screenshot).  AKA: we can add definitions to the glossary.

[2015-08-07 20:50] brianek commented on #85
![screen shot 2015-08-06 at 12 41 05 pm](https://cloud.githubusercontent.com/assets/9157639/9145648/587f1192-3d24-11e5-8086-185db1bdd172.png)

[2015-08-07 21:32] DavidGinzberg commented on #85
@brianek I don't quite understand. From what I can see, themes seem to be related to the color scheme of ReadClearly, not having anything to do with the definitions in the glossary. Was there something else in their response about definitions?

[2015-08-07 22:42] brianek commented on #85
@DavidGinzberg I think they are saying that you can add definitions to the neutral glossary.

[2015-08-08 13:00] brianek commented on #107
Here is visualization of how it could look. But feel free to use your own creativiity.
![slide1](https://cloud.githubusercontent.com/assets/9157639/9150540/df2eb026-3dab-11e5-929d-596d3d21563d.jpg)
![slide2](https://cloud.githubusercontent.com/assets/9157639/9150541/df2ede16-3dab-11e5-863c-29cf30db2ed7.jpg)
![slide3](https://cloud.githubusercontent.com/assets/9157639/9150538/df2d5c44-3dab-11e5-8ba

[2015-08-08 13:01] brianek commented on #107
[Presentation5.pdf](https://github.com/codefordc/clean-slate/files/1265/Presentation5.pdf)

[2015-08-10 01:35] ParentJA commented on #107
@brianek I'm not sure what needs to be done here. Will you provide clearer instructions, including what links to click on in order to see the defect? What is the "initial menu page" for example? Thanks!

[2015-08-10 12:53] brianek commented on #107
@ParentJA Sorry about the confusion. I made a video that is less than 4 minutes and explains everything. http://youtu.be/yRIG2To4V5U

[2015-08-10 16:47] DavidGinzberg commented on #62
I did a little digging on this. It looks like we could just use a `mailto:` URI and use some javascript to populate the body of the email with the user's answers. Mobile devices should pick up that URI and open the user's preferred email app. Desktop may need a little work since we can't guarantee they'll have an email client available (eg: users on public computers, or who use web-only email clie

[2015-08-13 02:50] brianek opened #109 "Add in contact page link: "need help? got questions?"

[2015-08-14 00:57] rdeprey commented on #107
@brianek I saw in the video where you wanted to move the disclaimer into an accordion menu, so I submitted a pull request with that change.  I'm going to try to help with some of the other UX items this weekend.

[2015-08-16 02:36] rdeprey commented on #107
@brianek I adjusted the UI to add the new audience question and changed the categories for sealing records from buttons to using the accordion menu.  For the new audience question, I wasn't sure where to add the textbox to capture comments if a user selects "Other" though.  What do you think about making those radio buttons instead?  It would make it easier to add the textbox.  Then, we could add

[2015-08-16 02:37] rdeprey commented on #94
I fixed this and submitted a pull request.

[2015-08-16 19:41] brianek commented on #94
@rdeprey @thanks!

[2015-08-16 23:09] brianek commented on #107
Sure. Radio button would work. @rdeprey

[2015-08-16 23:09] brianek commented on #107
From a UX perspective, I am also thinking about removing the "other" option

[2015-08-16 23:10] brianek commented on #107
@rdeprey. Whats your opinion on that? If you support use of the "other" option  then feel free to implement the radio buttons.

[2015-08-16 23:57] DavidGinzberg commented on #94
Looks like it's fixed by the pull request from @rdeprey :+1: . I've tested briefly on desktop and emulated mobile devices of several different sizes. Closing the issue.

[2015-08-16 23:57] #94 closed

[2015-08-16 23:59] #107 closed

[2015-08-17 00:08] rdeprey commented on #107
@brianek Yeah, I'm not sure about the Other option because it will be hard to use it to target the language.  I guess you could collect the data from it though and use it for future improvements.

[2015-08-17 14:09] brianek commented on #107
@rdeprey Sounds like  a plan. So yes to turning tthem into radio buttons.

[2015-08-25 23:19] brianek opened #115 "Switch non-coviction and conviction link:"
https://www.cleanslatedc.com/#/eligibility/50

[2015-08-25 23:20] brianek commented on #115
The links are wrong and need to be switched!

[2015-09-09 20:22] #115 closed

[2015-09-09 20:30] brianek commented on #106
Here is the first part of the translation in spanish: https://docs.google.com/document/d/1s6QXDZzezCAOVszPB2zpRWGjHY68H42n6-4p9LqJdJE/edit?usp=sharing

[2015-09-09 20:30] brianek commented on #106
@mkalish

[2015-09-09 20:31] brianek commented on #109
provide our email: cleanslateDC@gmail.com

[2015-09-09 20:32] brianek commented on #85
yes which we would like to do.

[2015-09-09 20:37] brianek opened #119 "Move our repository & github pages hosted site to https://github.com/orgs/MissionLaunch/teams/code-for-dc/repositories"
Our community partner has asked to move the Clean Slate site and files to their repository. It seems easy enough to do but I am concerned as to whether the github pages (where clean slate  is hosted) will transfer correctly. I did research on it and found this: "If the transferred repository contains a GitHub Pages site, then links to the Git repository on the Web and through Git activity are redi

[2015-09-09 20:38] brianek opened #120 "Temporarily remove "other" as our community partners will use the site and won't need that information."
@rdeprey

[2015-09-09 20:39] brianek opened #121 "Innocent and Criminal record are switched: https://www.cleanslatedc.com/#/eligibility/50"
https://www.cleanslatedc.com/#/eligibility/50

[2015-09-09 20:53] brianek opened #122 "Revise content on how to get a criminal record. There are 4 simple steps and we want to walk someone through it before they go through it."
video needs to be removed

[2015-09-09 20:55] brianek commented on #122
Maybe it can be a slideshow; that allows to click through to the next step by saying "Yes, I understand Step 1"

[2015-09-09 21:00] brianek opened #123 "Add "ban the Box information" to all stages that end in "not eligible""
Education all visitors regarding Ban the Box: http://ohr.dc.gov/page/returningcitizens/employers

[2015-09-09 23:37] mchelen commented on #87
The challenge here might be that the question data is hierarchical, so trying to put it in a row/column spreadsheet format could be tricky.
If the data can be entered in a ordered way into a spreadsheet, then it should be technically possible to access it via Javascript.

[2015-09-10 00:09] mchelen commented on #87
Here is an example format for a spreadsheet: https://docs.google.com/spreadsheets/d/1zUAFzFqZ3aJPNPLZ9tpHWtEzaTOrC8qOo09dKVFoEMs/edit?usp=sharing

[2015-09-10 00:57] ave-llan commented on #87
Here is the Google Sheets API link to get the sheet as a JSON:
https://spreadsheets.google.com/feeds/list/1zUAFzFqZ3aJPNPLZ9tpHWtEzaTOrC8qOo09dKVFoEMs/od6/public/basic?alt=json

[2015-09-10 01:04] mchelen commented on #87
Todo:
- [ ] reformat json from spreadsheet to match current json object structure
  - google script or regular javascript?
- [ ] export json to csv for import to spreadsheet
- [ ] spreadsheet data validation?

[2015-09-10 20:58] DavidGinzberg commented on #121
Looks like a quick fix in the json file. I'll swap it and submit a PR.

[2015-09-10 21:01] brianek commented on #121
Awesome thanks
On Sep 10, 2015 4:58 PM, "David Ginzberg" notifications@github.com wrote:

[2015-09-10 22:42] #121 closed

[2015-09-11 19:35] brianek opened #125 "Remove all references to the Public Defenders Service; add in our new partner's email and phone to each eligible end-state"
Add this to each eliglble end state:

CONNECT WITH AN ATTORNEY ABOUT GETTING YOUR RECORD EXPUNGED.
No appointment needed. Intake EVERY MONDAY, from 12-7 PM
510 4th Street, NW, Room 113, Building B (Landlord Tenant Court)
LAW STUDENTS
IN COURT
Questions? Contact Lora Silberman
202.638.4798 ext. 215,  or email here at lsilberman@dclawstudents.org

[2015-09-11 19:39] brianek opened #126 "Add in definition of complete criminal record on this page: https://www.cleanslatedc.com/#/eligibility/25"
Definition: A complete criminal record is made up of your arrest record that you can receive from the Police Department (MPD) AND your court record that you can receive from the DC Superior Court. You must have both records to continue  as  a judge will deny your request if you do not submit your complete cirminal record.

[2015-09-11 19:43] brianek opened #127 "Add a alert/pop-up (using javascript button to this page that says "Answer the following questions based on only 1 arrest or charge at a time)."
Edit this page: https://www.cleanslatedc.com/#/eligibility/602

Change the question from:   "Select the type of conviction you would like to seal on your D.C. record."

To : "Select one conviction on your record. Is that a conviction for a felony conviction or misdemeanor conviction?

[2015-09-11 19:47] brianek opened #128 "Edit the question and definition on this page: https://www.cleanslatedc.com/#/eligibility/614"
Change quesiton to: "Has it been 8 years since you were "off papers"?

Add this sentence to the definition: "You can also look at your criminal record and search for the "charge disp date". If it has been 8 years since your "charge disp date", then choose yes."

[2015-09-11 19:53] brianek opened #129 "Make sure to fill in this end date with Lora Siberman contact info"
https://www.cleanslatedc.com/#/eligibility/EligibleFC8

[2015-09-11 19:56] brianek opened #130 "Many changes needed to fix the list of ineliigble misdemeanors page: vhttps://www.cleanslatedc.com/#/eligibility/531"
1)  delete the following crimes from this page "Interpersonal vilence, intimate partner violence, intra family violence"

2) edit the file to now say:
*This is a list of crimes that, if you have them, may result in a judge denying your request to seal your record.
FELONY:
A  Felony that is not  a charge for Failuer to not appear (FTA)
MISDEMEANORS
...Insert list of misdemeanors
2)) Add an addition

[2015-09-11 19:58] brianek opened #131 "For the entire site, replace the word "jurisdiction" with the word "state""

[2015-09-11 20:08] brianek opened #132 "For every end state that tells a person they are inelgible for sealing, add in information on Ban the Box."
1) add in this language: Even though you are not eligible for sealing your criminal record,  In 2014 The District of Columbia passed a  law that prohibits employers (with 11 or more employees) from having a criminal background questions on a job application form, and  ALSO prohibits an employer from asking about criminal convictions, arrests or accusations until after a conditional offer of employ

[2015-09-11 20:11] brianek opened #133 "Add in definition of expungement on this page: https://www.cleanslatedc.com/#/"
Add in this lanugage: "Please note that the District of Columbia does not allow for expunging a record; the options  that are aviailable includ the ability  to seal a record, dispute an error on a record, or prove that you are innocent of something that appears on your record. "

[2015-09-11 20:13] brianek opened #134 "Revise instructions on how to look for criminal record"
Annotate criminal record

[2015-09-11 20:15] brianek opened #135 "Small Edit to this page https://www.cleanslatedc.com/#/eligibility/50."
Add in the word : (Fugitive) to proceed the phrase "arrested; warrant in other jurisdiction...."

Also replace the word "jurisdiction" with the word "State"

[2015-09-11 20:28] brianek commented on #130
HIGHEST PRIORITY

[2015-09-12 02:07] rdeprey commented on #130
@brianek I removed the search bar/filter term feature, but wasn't sure how to do the rest without possibly affecting other pages, so I left those alone.  I submitted a pull request that includes this.

[2015-09-12 02:07] rdeprey commented on #131
@brianek I just submitted a pull request that changes "jurisdiction" to "state" throughout the site.

[2015-09-12 02:11] rdeprey commented on #120
@brianek I removed it as part of the pull request I submitted.

[2015-09-12 02:30] rdeprey commented on #85
@DavidGinzberg @brianek I added a line of CSS that adjusts the font color on hover, so that the word being defined is easier to read and submitted it as a PR.

[2015-09-12 04:31] #131 closed

[2015-09-12 04:32] brianek commented on #131
@rdeprey

[2015-09-12 04:32] brianek commented on #131
thanks!!!!!!!@rdeprey

[2015-09-12 04:33] brianek commented on #130
no worries. I will look into it.

[2015-09-12 04:38] #109 closed

[2015-09-12 04:38] #120 closed

[2015-09-13 13:53] jmezetin commented on #132
For part 2, what video needs to be embedded?

[2015-09-13 14:51] brianek commented on #132
I still need a make it and wont finish till tonight. But I will take over
making the video. No worries.

On Sun, Sep 13, 2015 at 9:53 AM, jmezetin notifications@github.com wrote:

[2015-09-13 16:29] jmezetin commented on #130
How will the routing of the pages changes with this new question?
No & No
No & Yes
Yes & Yes
Yes & No

[2015-09-13 21:57] brianek opened #141 "edit this page: https://www.cleanslatedc.com/#/eligibility/acquireYourRecord"
Delete this language:  "You can either access your criminal record online or visit the DC court in person to acquire your complete record."

Revise this language:  "In the menu above, please visit 'Acquire Your Record/Rap Sheet' for more instructions.". Change it to "In the mneu above, visit "Acquire your record/rap sheet" for information on how to acquire your Complete/entire criminal record (bol

[2015-09-13 22:06] brianek commented on #130
@jmezetin. The routing of the page will be like this:
Question: are any of these crimes on this list your crime?
No: ask them a new: question #52
Yes: should go to this question:
https://www.cleanslatedc.com/#/eligibility/560

Question 52: Were you arrested or charged with the  crime
of assualt (either a misdemeanor or  felony)against a family member or
spouse?
No: https://www.cleanslatedc.com/#/e

[2015-09-14 19:41] brianek opened #148 "there's still a ssl error on the custom domain. Any help would be appreciated!"
We are using cloudflare and namecheap.com. If you need any of the log-ins to fix this problem, just send me a text at 202 306 5602.

[2015-09-14 19:57] #141 closed

[2015-09-14 19:57] #135 closed

[2015-09-14 19:57] #134 closed

[2015-09-14 20:02] #133 closed

[2015-09-14 20:04] #132 closed

[2015-09-14 20:05] #130 closed

[2015-09-14 20:05] #129 closed

[2015-09-14 20:08] #126 closed

[2015-09-14 20:25] #125 closed

[2015-09-14 20:25] #123 closed

[2015-09-14 20:25] #122 closed

[2015-09-14 20:45] #128 closed

[2015-09-19 14:35] omarimayerswalker commented on #127
I'll work on this.

[2015-09-21 01:46] brianek commented on #127
Hi: this one sort of got taken care of.

[2015-09-21 01:47] brianek opened #165 "Look into automatic eligibility checker that uses PHP"
https://github.com/mhollander/Expungement-Generator.

Is this possible for us to do?

[2015-09-21 23:13] brianek commented on #127
But it can be improved

[2015-09-21 23:14] brianek commented on #165
http://m.asos.com/mt/us.asos.com/Monki-Checked-Shirt/16zfrd/?iid=5571339&cid=11318&sh=0&pge=2&pgesize=50&sort=3&clr=Navy+multi&totalstyles=443&gridsize=3&mporgp=L01vbmtpL01vbmtpLUNoZWNrZWQtU2hpcnQvUHJvZC8.&un_jtt_v_frompage=2

[2015-10-14 23:46] brianek commented on #165
You can  test the PA the site here:   You can log in using test1234@test.com.  The password is test1234.

[2015-10-14 23:47] brianek commented on #165
Here is  sample criminal record
[CPReport (54).pdf](https://github.com/codefordc/clean-slate/files/13663/CPReport.54.pdf)

[2015-10-14 23:47] brianek commented on #165
[CPReport (53) (1).pdf](https://github.com/codefordc/clean-slate/files/13664/CPReport.53.1.pdf)

[2015-10-15 00:24] brianek commented on #106
example: http://www.expunge.io/

[2015-10-15 16:55] mchelen commented on #165
Ok looking at those examples, what text needs to be extracted from them?

[2015-10-15 16:58] brianek commented on #165
So these attached examples are from PA. I will attache the DC ones I showed you last night. I created a repo. Ill paste the link also.

[2015-10-15 17:00] brianek commented on #165
https://github.com/codefordc/Expungement_generatordc

[2015-10-15 17:01] brianek commented on #165
[Court Form 2 (3).pdf](https://github.com/codefordc/clean-slate/files/14233/Court.Form.2.3.pdf)
[Court Form 1 (3).pdf](https://github.com/codefordc/clean-slate/files/14234/Court.Form.1.3.pdf)
[MPD Form (3).pdf](https://github.com/codefordc/clean-slate/files/14235/MPD.Form.3.pdf)

[2015-10-15 17:04] brianek commented on #165
Above are the DC forms. So the variables to extract are # 1)disposition date 2) crime/charge 3)charge disposition/disposition  And optionally: 1) name 2) PDID

[2015-10-15 17:04] brianek commented on #165
@mchelen

[2015-10-15 19:04] mchelen commented on #165
@brianek Are these PDFs (Court Form 2 (3).pdf, Court Form 1 (3).pdf, MPD Form (3).pdf) examples of forms that we need to pull information from, or put information into? One issue with these is they all appear to be scanned images, so it's not possible to directly extract text from them.

[2015-10-15 20:38] brianek commented on #165
Can't we ocr them? I can also try to convert to word. This is the documents
that will have info taken (pull)from them. The info could then go to a html
page or be provided in a doc. Or pdf.
On Oct 15, 2015 3:04 PM, "Mike Chelen" notifications@github.com wrote:

[2015-10-15 23:49] mchelen commented on #165
OCR is possible, but can be much more difficult depending on what info
needs to be extracted. The first step then would be trying some OCR utils
and seeing how the output looks.
It may be worth petitioning DC courts to obtain better formatted PDF files,
but idk how difficult that would be.
On Oct 15, 2015 16:38, "brianek" notifications@github.com wrote:

[2015-10-16 00:26] brianek commented on #165
They give out word documents. Someone scanned it to give to me. I think I
know a good ocr
On Oct 15, 2015 7:49 PM, "Mike Chelen" notifications@github.com wrote:

[2015-10-16 15:03] mchelen commented on #165
Can we get the Word documents?

[2015-10-19 20:04] brianek commented on #165
Hey Mike: Sorry for the late reply. So here's what I was able to do. I have a program that convert a pdf into html web page or  into word. So I converted them to word and I have added them to this message.
[Court Form 1 (4).docx](https://github.com/codefordc/clean-slate/files/16302/Court.Form.1.4.docx)
[MPD Form (4).docx](https://github.com/codefordc/clean-slate/files/16303/MPD.Form.4.docx)

[2015-10-20 16:19] mchelen commented on #165
@brianek Hey no worries. You can probably see the formatting of these .docx files are in pretty bad shape though. Ideally we would get the original files before they were scanned. Is that possible?

[2015-10-20 16:21] brianek commented on #165
Yes. We could get the printed copies and scan them in a form that is easiest for a computer to read. Or we can ask for them in a word format.

[2015-10-21 21:19] mchelen commented on #165
@brianek Yeah if at all possible to get the Word files before they are printed, that would be ideal.

[2015-10-21 21:27] brianek commented on #165
whats the second best option if that is not possible?

On Wed, Oct 21, 2015 at 5:19 PM, Mike Chelen notifications@github.com
wrote:

[2015-10-22 02:36] brianek commented on #165
@mchelen here is a message I got from the Expungement generator from Phily. I asked him what line of code reads the criminal records.

To briefly answer your question, the regular expressions from line 100-180 is the code that defines how to read the docket.  The horrible function readArrestRecord is the part that applies the regular expressions and stores everything off into variables.  The funct

[2015-10-23 16:27] rdeprey commented on #106
Depending on how the backend is set-up, we might be able to use the angular-translate module to provide translations: http://www.sitepoint.com/multilingual-support-for-angularjs/?utm_source=javascriptweekly&utm_medium=email.  Basically, we'd have one json file in English and another in Spanish and would use the module to manage them.

Here's more information on the angular-translate model itself:

[2015-10-23 16:29] mkalish commented on #106
Hey everyone meant to respond to this earlier, but the past month has been crazy.  I had submitted a PR a month ago using angular translate...I'll dig up the code, add the new translations and submit another PR this weekend.

[2015-10-23 16:33] brianek commented on #106
Mkalish. Great
On Oct 23, 2015 12:29 PM, "mkalish" notifications@github.com wrote:

[2015-10-23 18:21] mchelen commented on #165
Yeah the biggest issue is getting the best quality data to start with. What we want ideally are the original document files, or whatever is closest to those files. Each time the files are converted/printed/scanned they become worse quality.

[2015-10-28 00:37] rlh100 commented on #87
I am not sure if this helps but it is easy to translate a json file into a PHP array.  $press_url is an API URL (URI?)"

  /\* Call the API with file_get_contents() */
  $press_json = file_get_contents($press_url);

  /\* Convert the JSON results into an array with json_decode() */
  $press_array = json_decode($press_json, true);

Once the data is in an array it is straight forward to convert it t

[2015-10-28 03:07] meiao commented on #62
I had heard a while ago that you guys wanted to send emails from a app that has no backend.
Then I found about this tool:
http://www.mailthis.to/

Maybe it'll solve your problem.

[2015-10-28 10:47] brianek commented on #87
Thank you!

[2015-10-28 10:47] brianek commented on #62
Thank you!

[2015-11-09 18:43] #165 closed

[2015-11-09 18:44] #127 closed

[2015-11-09 18:46] brianek commented on #106
We have decided to just partner with a legal clinic that services spanish professional (this is not set in stone) @mkalish Is there anything else you are interested in working on?

[2015-11-09 18:46] #106 closed

[2015-11-09 18:47] #85 closed

[2015-11-09 18:48] brianek commented on #62
@meiao We added a backend this weekend/or are adding backend so that might help things along.

[2015-11-09 18:48] #62 closed

[2015-11-09 18:48] brianek commented on #119
Close for now.

[2015-11-09 18:48] #119 closed

[2015-11-09 19:13] brianek opened #171 "Once an individual selects they are a legal clinic, we need to add an introductory page/landing page. We have already recorded the video"
Once an individual selects they are a legal clinic, we need to add an introductory page/landing page. We have already recorded the video. This issue can be worked on after @jmezetin has submitted his redesign that creates a separate path for the legal clinic and seperate path for the public.

[2015-11-09 19:14] brianek commented on #171
Video is here: https://www.youtube.com/watch?v=v96QcDXHS-E

[2015-11-09 20:05] brianek opened #172 "4 quick edits to current code based for Clean-Slate (do this before creating code base for legal clinics)"
Small content changes needed for the entire current code base (as opposed to the new code base specifically that creates a flow for legal clinics).

1) Edit this page: https://www.cleanslatedc.com/#/eligibility/614
-change "charge disp" date to charge disposition date. Only make this change within the question (as opposed to altering the helper text highlighted in blue).
*double check to make sure

[2015-11-09 20:24] brianek opened #173 "Quick small edits for new code base (directed only at legal clinics)"
Each category on this page should be updated with a link to the statute:
Edit this page: https://www.cleanslatedc.com/#/eligibility/50
For fugitive arrests, add in "803.01". 803.01 should externall link to: http://dccode.org/simple/sections/16-803.html
For Incorrect criminal record, add "803(b)." 803b should externally link to: http://dccode.org/simple/sections/16-803.html
For Actual  Innocence, a

[2015-11-09 20:25] brianek opened #174 "Add in reporting feature/data aggregating feature. Basically we want new code base to track users progress. And ability for site to auto-generate site. Example of desired report provided."
![cleanslatereport 3](https://cloud.githubusercontent.com/assets/9157639/11045557/1d4e24de-86f6-11e5-8612-96e1b4e1cb4e.png)

[2015-11-12 01:15] emanuelfeld opened #176 "If you arrive at any login page (individual or organization), you can no longer click back to the homepage"

[2015-11-12 03:11] brianek commented on #176
Thanks for letting us know
On Nov 11, 2015 8:15 PM, "Emanuel Feld" notifications@github.com wrote:

[2015-12-08 16:26] DavidGinzberg commented on #148
I've banged my head against this with no luck a couple of times, but here's a little more info for anyone who wants to take a crack at it: The www subdomain (`www.cleanslatedc.com`) seems to be fine, it's the naked domain (`cleanslatedc.com` with no preceding subdomain) that's serving a GitHub cert instead of the one from CloudFlare (See image).
![screen shot 2015-12-08 at 11 23 16 am](https://clo

[2015-12-08 18:38] stvnrlly commented on #148
I think that we discussed this before, but this is likely to be a DNS issue. I checked with a person with CloudFlare experience, who told me that using it with GitHub Pages requires their Flexible SSL offering. That means that the DNS A record needs to be pointed at CloudFlare, in addition to the CNAME record. Can you confirm that this is the setup?

[2015-12-08 18:45] rdeprey commented on #148
Hi all,

One solution would be to use a server-side redirect to redirect all traffic
to cleanslatedc.com to the www.cleanslatedc.com URL instead. I think that
would resolve the certificate error. Here's a link to more information:
https://www.sslshopper.com/ssl-certificate-name-mismatch-error.html

Rebecca

On Tue, Dec 8, 2015, 1:38 PM stvnrlly notifications@github.com wrote:

[2015-12-22 00:04] rdeprey commented on #176
I think this is related to a mixed content error on the login page.  The login page loads over https, but the page is loading the parse-1.2.12.min.js file over http, which causes Javascript errors.  I submitted a pull request with more details on a hopeful fix.  It worked when I tested it locally, but we won't really know if it works until we test it over https.

[2016-02-23 00:37] brianek opened #179 "Additional question for non-conviction"
adding in a question we accidentally left out: "Have you been convicted of misdemeanor in the past 5 or felony in last 10 years?" Check question 552 and 553

[2016-02-24 00:26] brianek opened #180 "Cloning and/or duplicate our repo; we intend to combine the repos later on)"
What: We want to clone the repo
Why: we have 3 different user perspective: (1) legal aid lawyer (2) workforce development staff and (3) non-lawyers intent of sealing their criminal record.
How to do it: Here is a good resource: https://help.github.com/articles/duplicating-a-repository/
Implications: before we combine the repos, this clone repo may have to be hosted on your username. But I ask that

[2016-02-24 00:37] brianek opened #181 "Add in A2J author interface for non-attorneys"
Do you know A2J? It is a programming language for lawyers. We are considering using the audible features for non-attorneys to quickly assess what they need before meeting with attorneys.

[2016-02-24 00:39] brianek opened #182 "Figure out how we can incorporate open source OCR capability"
What: Allow us the ability to OCR scanned criminal records
Why: We want to enable our users to take a criminal record (that has a lot of crimes on it) and digitize the content so that
How: Tesseract is the best OCR open source library for this; google has an open source library as well; but it is very new and not well supported. https://github.com/tesseract-ocr/tesseract

[2016-02-24 00:41] brianek opened #183 "While we struggle to figure out OCR potential, we want to create input fields so our attorneys can recreate a document in digital form"
What: nut forms that connect to our database
Why: so that attorneys can visualize a person's criminal record and analyze it. We hope to build code in the back that will analyze the content submitted via the input forms.

[2016-02-24 00:43] brianek opened #184 "Create an intake form that connects non-lawyers to lawyers within our network"
What:Create an intake form that connects non-lawyers to lawyers within our network
Why: Our current site requires that a site visitor leave the site to email one of our partnering attorneys

Our lawyers only need to know 3 things before seeing a client: (1) full name (2) date of birth and (3) all the states or jurisdictions that a person has been arrested.

[2016-02-24 01:03] brianek opened #185 "visualization of a criminal record"
Why: Lawyers want to have a tool that explains why certain charges/crimes on their criminal record will be eligible to be sealed (hidden from the public) at different time.

[2016-02-24 01:04] brianek opened #186 "Creation of user profiles"
We want to create see profiles or session (where you can start and end a session) so that our lawyers can pause if they need to take a break or go get documents to help them finish the screening a client's case to see if they are eligible for sealing.

[2016-02-24 01:06] brianek opened #187 "Document automation (auto-filing pdfs and saving them)"
What: there are court motions that simply need to be filed with certain demographic information (i.e. the client's name, email, address and reason that they want the court to seal their record).
Potential tools: hotdogs

[2016-02-24 01:07] brianek opened #188 "A pop-up checklist (using javascript)"
What: a pop-up checklist that prompts the user (new attorney)
Why: make sure they have avoided the most common areas to assessing the eligibility of a record to seal.
How: it should be like a pop-up checklist that requires the user to check off one by one that they have not made that common error.

[2016-02-24 01:09] brianek opened #189 "Clone repo a 3rd time (we will end up merging all 3 later on)"
We have 3 different user perspectives and want to account for all 3. We plan to change the content/language so that it is directed at the different users. If you work on this, please provide @brianek administrative access so that I can make changes to the legal content/language.

[2016-02-24 02:17] brianek opened #191 "Create a login feature for our users (legal clinics)"
What: a log-in feature
Why: so that we can track their usage
How: Option 1) https://developers.google.com/identity/protocols/OpenIDConnect 2) connect it to Web Amazon database

[2016-02-24 02:18] brianek opened #192 "Database design/database creation"
We have several user needs that will require the storage of data.

1) log-in /password recovery
2) storage of certain client information
3) certain data inputs that are temporarily stored)/visualizations for each client.

[2016-02-24 02:48] #171 closed

[2016-02-24 02:49] #172 closed

[2016-02-24 03:03] #173 closed

[2016-02-24 03:04] brianek commented on #176
Fixed. Thanks!!!!!!

[2016-02-24 03:04] #176 closed

[2016-02-24 03:04] #179 closed

[2016-02-24 03:20] brianek opened #193 "Re-formating this page; it is not mobile friendly: UI help"
https://www.cleanslatedc.com/#/eligibility/621

Why: The page should be mobile friendly and easy for a person to see the question at the bottom. Right now, a site visitor may easily not be able to identify the question t the bottom.

Potential solutions: either a drop-down, collapseable column or a table.

[2016-02-24 23:41] jmezetin commented on #188
Do you have a list of items that will need to be on the checklist?

[2016-02-24 23:53] jmezetin commented on #185
What are the basic fields on a criminal record? Also, can you scan that help sheet you had at the previous meetup?

[2016-02-25 20:45] brianek commented on #188
Yes. Here are some examples. The checklist should be easy to edit from github however (because the law may change). Also, potentially, if possible, the common mistakes should come up based on how they answered the questions. For example, if they indicated that the person was charged with an assault of someone related by blood, there is no need to tell them that they should have considered that.

A

[2016-02-25 21:13] brianek opened #194 "jQuery User Input Calculator or A javascript calculator online (allow non-integer inputs)"
The law we are working with is complicated but it is basically an equation. Can you create
Create a calculator that accepts user input (non-integers) using jQuery event listeners and JavaScript functions, if/else or switch statements, and jQuery val methods. This basically allows someone to input parts of the equation (parts of the law) and get a result.

Here are great resources:
1) http://thecod

[2016-02-25 21:18] brianek commented on #185
Basic Fields:
-Name
-PDID #
-Address
-Charge
-Disposition
-Disposition Date
-Arrest Date
-Date of Offense
-DOB

[MPD Form (5) (1).pdf](https://github.com/codefordc/clean-slate/files/147288/MPD.Form.5.1.pdf)
[Court Form 2 (5) (1).pdf](https://github.com/codefordc/clean-slate/files/147289/Court.Form.2.5.1.pdf)
![new doc 24page 1](https://cloud.githubusercontent.com/assets/9157639/13334663/2f5fbe14-d

[2016-02-26 15:34] jmezetin commented on #185
What does the PDID# refer to? Is it the person or about the particular charge or offense?

[2016-02-27 16:32] brianek opened #196 "Progress Bar broken again"

[2016-02-28 19:09] brianek commented on #185
@jmezetin:  PDID is supposed to be a unique identifier. The courts use it to connect a crime to James A that lives in NorthWest DC; James A that lives in southwest DC will have a  different PDID #

[2016-02-28 19:13] brianek opened #204 "Progress Bar broken"

[2016-02-28 19:13] brianek commented on #204
@JasonParentEAB any interest?I accidentally broke the progress bar this weekend.

[2016-02-28 19:57] #87 closed

[2016-02-28 19:57] #196 closed

[2016-02-28 20:42] brianek commented on #204
@jrleszcz also checking to see if you have any interest. We are presenting at SXSW and want to fix before then.

[2016-02-28 21:11] brianek commented on #191
being worked on. Let me know if you want to join.

[2016-02-28 21:11] brianek commented on #192
Being worked on; let me know if you want to join.

[2016-02-29 04:56] brianek commented on #204
Fixed!!!

[2016-02-29 04:56] #204 closed

[2016-02-29 20:41] #180 closed

[2016-02-29 21:11] jmezetin commented on #185
So if James A, who lives in NW DC, commits another crime  the PDID will be the same?

[2016-03-01 13:35] jmezetin commented on #188
How does this look? http://jmezetin.github.io/clean-slate/organizations/login.html#/Home

I'm not sure where in the application it should display.

[2016-03-01 13:39] jmezetin commented on #183
So this issue and 185 and 194, all seem quite related. I worked up a screen that may combine them.

http://jmezetin.github.io/clean-slate/organizations/login.html#/Home
username: test1
password: test1

Click start here under "Client Intake".

The next steps would be to code the eligibilty formula which would look at all items in the table as they are added.

[2016-03-02 15:50] Martschink commented on #187
I can work on getting sample documents from lawyers who have gone through this process before.

[2016-03-30 19:15] jonminter commented on #182
Hello, I was at one of the civic hackathons, the one before this most recent one. Was planning on going to the most recent one but didn't make it. Do you guys need any help with working on the OCR feature? I would be willing to spend some time to help get it figured out if you need the help.

[2016-11-20 05:44] brianek opened #264 "Broken Progress Bar due to changed combined-flow.json"
https://raw.githubusercontent.com/codefordc/clean-slate/b403e2d2750c512a4761739b307cec11f6d3e335/data/combined-flow.json